@media screen and (max-width: 530px) {
  * {
    padding: 0;
    margin: 0;
    font-family: "Kanit", serif;
  }
  .head {
    background-color: black;
    min-height: 13vh;
  }

  .link img {
    position: absolute;
    padding-top: 15px;
    left: 38%;
    max-width: 85px;
  }

  .icons img {
    max-width: 30px;
    position: absolute;
    top: 3vh;
    display: block;
    left: 5%;
  }

  .icons span {
    position: relative;
    left: 91%;
    top: 35px;
    color: #f1ca2f;
  }

  #bag {
    max-width: 30px;
    position: absolute;
    top: 2.7vh;
    display: inline;
    left: 83%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
  }

  #bag-filled {
    max-width: 30px;
    position: absolute;
    top: 2.7vh;
    left: 83%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .swiper-slide {
    border: 1px solid;
  }

  .swiper-slide h1 {
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    text-align: center;
  }

  .swiper-slide p {
    position: relative;
    font-weight: 200;
    left: 37%;
  }

  #tipo {
    position: relative;
    text-align: center;
    left: 0;
    font-weight: 300;
  }

  .swiper-slide button {
    position: relative;
    left: 34%;
    padding: 15px;
    background-color: #f1ca2f;
    border: none;
    font-family: "Kanit", serif;
    font-weight: 800;
    font-style: normal;
  }

  .swiper-slide button:hover {
    background-color: black;
    color: #f1ca2f;
    transition: all 0.3s ease-in-out 0.3s;
  }

  .swiper-slide img {
    max-width: 280px;
  }

  .products {
    background-color: #e4dfd3;
    padding-bottom: 30px;
  }

  .products h1 {
    position: relative;
    left: 15%;
    width: 200px;
  }

  .modal {
    position: fixed;
    z-index: 10000;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .conteudo {
    background-color: #e4dfd3;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    user-select: none;
  }

  .close {
    color: #823d1c;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  #item-carrinho li {
    list-style-type: none;
    background-image: url(assets/images/icons/logo\ blackarab.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 30px;
  }

  #total-container {
    font-weight: bold;
    position: absolute;
    top: 83%;
    left: 10%;
    background-color: #136e38;
    color: #e4dfd3;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    user-select: none;
  }

  #total {
    font-weight: bold;
  }

  .remover {
    background-color: #e74c3c;
    color: #e4dfd3;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }

  .remover:hover {
    background-color: #c0392b;
  }

  .remover:active {
    background-color: #a93226;
  }

  .info-block {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #823d1c;
    color: #e3dbc6;
  }

  .info-block img {
    max-width: 50px;
    margin-bottom: 10px;
  }

  .info-block h3 {
    margin: 10px 0;
    font-size: 1.2em;
  }

  .info-block .short-info {
    color: #e3dbc6;
  }

  .info-block .detailed-info {
    display: none;
    margin-top: 10px;
    font-size: 0.9em;
    color: #823d1c;
  }

  .info-block.active .detailed-info {
    display: block;
  }

  .info-block.active {
    background-color: #f9f9f9;
    border-color: #f1ca2f;
  }
}
