@media screen and (max-width: 900px) {
  * {
    padding: 0;
    margin: 0;
  }
  .head {
    background-color: black;
    min-height: 13vh;
  }

  .link img {
    position: absolute;
    padding-top: 15px;
    left: 38%;
    max-width: 85px;
  }

  .icons img {
    max-width: 30px;
    position: absolute;
    top: 3vh;
    display: block;
    left: 5%;
  }

  #bag {
    max-width: 30px;
    position: absolute;
    top: 2.7vh;
    display: block;
    left: 83%;
  }

  .swiper-slide {
    border: 1px solid;
    margin-top: 20px;
    margin-left: 15px;
  }

  .swiper-slide h1 {
    position: relative;
    left: 12%;
  }

  .swiper-slide p {
    position: relative;
    left: 39%;
  }

  .swiper-slide button {
    position: relative;
    left: 32%;
    padding: 15px;
    background-color: #f1ca2f;
    border: none;
    font-weight: 900;
  }

  .swiper-slide img {
    max-width: 250px;
  }
}
